<div class="cart">
  <div class="cart__header">
    <h2 class="cart__title">Votre panier</h2>
    <button *ngIf="(cartService.cart().items?.length || 0) > 0" 
            class="cart__clear-btn" 
            (click)="clearCart()">
      Vider le panier
    </button>
  </div>

  <div class="cart__content" *ngIf="(cartService.cart().items?.length || 0) > 0; else emptyCart">
    <div class="cart__items">
      <div class="cart__item" *ngFor="let item of cartService.cart().items">
        <div class="cart__item-image">
          <img [src]="item.imageUrl" [alt]="item.name">
        </div>
        
        <div class="cart__item-details">
          <h3 class="cart__item-name">{{ item.name }}</h3>
          <p class="cart__item-category" *ngIf="item.category">{{ item.category }}</p>
        </div>
        
        <div class="cart__item-price">
          {{ item.price | currency }}
        </div>
        
        <div class="cart__item-quantity">
          <button class="cart__quantity-btn" (click)="updateQuantity(item, -1)">-</button>
          <span class="cart__quantity-value">{{ item.quantity }}</span>
          <button class="cart__quantity-btn" (click)="updateQuantity(item, 1)">+</button>
        </div>
        
        <div class="cart__item-total">
          {{ item.price * item.quantity | currency }}
        </div>
        
        <button class="cart__item-remove" (click)="removeItem(item.id)">
          <i class="fas fa-trash"></i>
        </button>
      </div>
    </div>
    
    <div class="cart__summary">
      <div class="cart__summary-row">
        <span>Sous-total :</span>
        <span>{{ cartService.cart().totalPrice | currency:'TND':'symbol' }}</span>
      </div>
      <div class="cart__summary-row">
        <span>Livraison :</span>
        <span>Gratuite</span>
      </div>
      <div class="cart__summary-row cart__summary-total">
        <span>Total :</span>
        <span>{{ cartService.cart().totalPrice | currency:'TND':'symbol' }}</span>
      </div>
      
      <button class="cart__checkout-btn">
        Passer au paiement
      </button>
      
      <a routerLink="/products" class="cart__continue-shopping">
        Continuer vos achats
      </a>
    </div>
  </div>
  
  <ng-template #emptyCart>
    <div class="cart__empty">
      <i class="fas fa-shopping-cart cart__empty-icon"></i>
      <p>Votre panier est vide</p>
      <a routerLink="/products" class="cart__empty-btn">
        Commencer vos achats
      </a>
    </div>
  </ng-template>
</div>